body{
    width: 100vw;
    height: 100vh;
}

main, .screen-viewport{
    height: 100%;
}

main, #input-email, #input-password,  #btn-login{
    width:100%;
}

.screen-viewport{
    width: 90%;
}

.cont-login, .cont-img{
    border-radius: 3rem;
    width: 30rem;
    height: 40rem;
}

.cont-login{
    position: relative;
    border: 5px solid var(--color-black-1);
    position: relative;
    padding: 3rem;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

.img-dog, .img-cat{
    object-fit: contain;
}

.img-dog{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.img-cat{
    position: absolute;
    top: 1rem;
    border: 5px solid var(--color-black-1);
    border-radius: 50%;
    width: 250px;
}

