
/*Página register*/

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

main, .screen-viewport{
    height: 90%;
}

main, #input-email, #input-password,  
#input-img, #input-name, .button-register{
    width:100%;
}

.screen-viewport{
    width: 90%;
}

.cont-register{
    margin: 5rem 0rem 5rem 0rem;
    z-index: 1;
    border-radius: 3rem;
    width: 30rem;
    height: 45rem;
}

img{
    object-fit: contain;
}

.img-cat{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cont-change-img{
    position: absolute;
    overflow: hidden;
    top: 1rem;
    border: 1px solid var(--color-grey-2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.cont-pets-talking{
    z-index:0;
    width: 500px;
    position: absolute;
    right: 0px;
    bottom: 100px;
}

.cat-spying{
    z-index: 0;
    transform: rotate(50deg);
    left: -140px;
    position: absolute;
    width: 400px;
    height: 400px;
}

.cont-register{
    position: relative;
    border: 1px solid var(--color-grey-2);
    padding: 3rem;
    background: var(--color-grey-1);
}

/*Mobile*/

@media only screen and (max-height: 900px) {

    .cont-register{
        padding: 1rem;
        margin: 10rem 0rem 10rem 0rem;
        border-radius: 0rem;
        height: 500px;
        max-width: 350px;
    }

} 

@media only screen and (max-width: 1000px) {

    .cont-register{
        padding: 1rem;
        margin: 10rem 0rem 10rem 0rem;
        border-radius: 0rem;
        height: 500px;
        max-width: 350px;
    }

    body{
        background-image: url(https://i.ibb.co/4Js3fQc/Design-sem-nome-min.png);
        background-size: cover;
        position: relative;
    }

    .screenViewPort{
        margin: 2rem 0rem 6rem 0rem;
    }

    header{
        margin-bottom: 20px;
    }

    footer{
        position: absolute;
    }
	
} 



