.boxLabel{
    position: absolute;
    z-index: -1;
    background-color: var(--color-brand-1);
    height: 223px;
    width: 100%;
}

.boxProfile{
    padding-top: 50px;
}

.imgProfile{
    object-fit: cover;
    border-radius: 200px;
    width: 320px;
    height: 320px;
    border: 5px solid var(--color-white-1);
}

.boxText{
    padding: 24px;    
    width: 90%;
    max-width: 480px;
    height: 254px;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
}

.TextCont{
    width: 100%;
    gap: 0.5rem;
}

@media (min-width:900px){
    .boxText{  
        max-width: 480px;
    }

}