.sectionMyPets {
    margin: 0 auto;
    max-width: 300px;
}

.imgPets {
    width: 135px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    object-fit: cover;
}

.cardPet {
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    width: 300px;
    height: 150px;
    border-radius: 4px;
}

.divDescription {
    padding: 20px;
    gap: 5px;
}

.boxLabel{
    position: absolute;
    z-index: -1;
    background-color: var(--color-brand-1);
    height: 223px;
    width: 100%;
}

.boxProfile{
    padding-top: 50px;
}

.imgProfile{
    object-fit: cover;
    border-radius: 200px;
    width: 320px;
    height: 320px;
    border: 5px solid var(--color-white-1);
}

.boxText{
    padding: 24px;    
    width: 90%;
    max-width: 480px;
    height: fit-content;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
}

.textCont{
    width: 100%;
    gap: 0.5rem;
}

.TextBtns{
    flex-direction: column;
}

@media (min-width:900px){
    .boxText{  
        max-width: 480px;
    }

    .TextBtns{
        flex-direction: row;
    }

@media(min-width:769px){

    .sectionMyPets {
        max-width: 1000px;
        margin: 0 auto;
    }

    .cardPet {
        width: 480px;
        height: 200px;
    }

    .divDescription {
        padding: 40px;
    }

    .imgPets {
        width: 200px;
        height: 100%;
    }

}

}

